In [2]:
import pandas as pd

In [8]:
df1 = pd.read_csv('data/p1table1.csv')
df1

         l_0            RESORTE 1         l_0          "RESORTE 2"
0  F = mg(N)   Δx = l_f - l_0 (N)   F = mg(N)   Δx = l_f - l_0 (N)
1        0.5                  2.0         0.5                  4.5
2        1.0                  4.1         1.0                  9.0
3        1.5                  6.2         1.5                 13.6
4        2.0                  8.3         2.0                 18.1
5        2.5                 10.4         2.5                 22.8

In [11]:
df2 = pd.read_csv('data/p1table2.csv')
df2

         l_0 RESORTES EN SERIE      l_0.1 RESORTES EN PARALELO
0  F = mg(N)  Δx = x - l_0 (N)  F = mg(N)     Δx = x - l_0 (N)
1        0.5               6.6        0.5                  1.7
2        1.0              13.5        1.0                  2.9
3        1.5              19.5        1.5                  4.2
4        2.0              25.8        2.0                  5.4
5        2.5              32.3        2.5                  7.1